*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color:beige;
}
.title{
    text-align:center;
    margin-top:40px;
}
.result{
    border:2px solid black;
    width:300px;
    height:50px;
    border-radius:10px;
    font-size:30px;
    padding:5px 10px;
    margin-left:220px;
    margin-top:50px;
    background-color:azure;
    color:burlywood;

}
.row button{
    width:150px;
    height:50px;
    margin:0px 10px 0px 10px;
    border:1px solid orange;
    background-color:white;
    font-size:18px;
}
.row{
    margin-left:200px;
    margin-top:35px;
}
#equal{
    background-color:goldenrod;
    color:white;
    
}
#equal:hover{
    background-color:yellowgreen;
    transition:1s;
}
.row button:hover{
    background-color:bisque;
    transition:1s;

}
.mul {
    font-size:100px;
}
